@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Signika+Negative&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #7cc576;
}

a:hover {
  color: #9ed49a;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}


#hero{
  height: 100vh;
}
.content{
  text-align: center;
  margin-top: 40vh;
  margin-bottom: 40vh;
  transform: translateZ(0);
  height: 20vh;
}
.hello{
  margin-bottom: -5px;
  margin-right: 200px;
  font-family: 'Merienda', cursive;
}
.hero-name{
  font-size: 60px;
  font-weight: 600;
  font-family: 'Merienda', cursive;
  letter-spacing: -2px;
}


.link{
  padding: 5px 10px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  transition: 0.5s;
}
.link:hover{
  letter-spacing: 2px;
}
