.title{
  margin-top: -12px;
  font-family: 'Bree Serif', serif;
  font-weight: 500;
}

/* Aninaten text */
.animated-text{
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.animated-text span{
  position: relative;
}

.animated-text span::before{
  content: "Youtuber";
  color: #0E1120;
  animation: words 20s infinite;
}

.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: white;
  border-left: 2px solid #0E1120;
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
      border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,20%{
      content: "Developer,";
  }
  21%,40%{
      content: "Teacher,";
  }
  41%,60%{
      content: "Youtuber,";
  }
  61%,80%{
      content: "Writer,";
  }
  81%,100%{
      content: "Gamer,";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 8px);
  }
}

.description{
  margin-top: 12px;
  padding: 0 250px;
  font-family: 'Bree Serif', serif;
  font-family: 'Signika Negative', sans-serif;
}