<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <!-- ======= Hero ======= -->
    <section id="hero">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="content justify-center">
            <p class="hello">Hello, I'm </p>
            <h1 class="hero-name display-4 aos-init aos-animate">Zahin Mohammad</h1>
            <h2 data-aos="fade-up" class="aos-init aos-animate title">Full-stack Web Developer</h2>
            <p class="description">A passionate frontend and backend developer <br>from Bangladesh is deeply devoted to the craft of creating software. </p>  
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </section>

    <script src="../assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>